/* body {
  background-color: blue;
}  */

.button {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .button {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
